<div class="menu navbar navbar-expand-lg bg-body-tertiary">
  <ul class="container-fluid main-nav nav justify-content-center" style="width: 100%;">
    <li class="nav-item" style="margin-inline-end: auto;">
      <a title="Configurações"><i class="pi pi-cog"  (click)="menu.toggle($event)"></i></a>
    </li>
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    <li class="nav-item">
      <a class="nav-link active" href="\">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\">SOBRE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="\">SERVIÇOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="loja">LOJA</a>
    </li>
    <li class="nav-item" style="margin-inline-end: auto;">
      <a class="nav-link" style="margin-inline-end: auto" href="reserva">AGENDAR</a>
    </li>
    <li>
      <a href="\" class="whatsapp justify-content-between"><i class="pi pi-whatsapp"></i></a>
    </li>
    <li>
      <a href="\" class="instagram"><i class="pi pi-instagram"></i></a>
    </li>
  </ul>
</div>














