<div style="display:flex;justify-content:center;height:85%;align-items:center;">
  <div class="form">
    <h1 class="text-center">Cadastrar Usuário</h1>
    <div class="row div-inputs">
      <div class="col">
        <input type="text" class="form-control" placeholder="000.000.000-00"/>
      </div>
    </div>
    <div class="row div-inputs">
      <div class="col">
        <input type="text" class="form-control" placeholder="username123"/>
      </div>
    </div>
    <div class="row div-inputs">
      <div class="col">
        <input type="text" class="form-control" placeholder="*******"/>
      </div>
    </div>
  </div>
</div>

  <div class="col" style="display: flex; justify-content: flex-end; margin-right: 7rem;">
    <button class="btn-confimar" type="submit">CONFIRMAR</button>
  </div>
