<div class="container" style="margin-top: 20px;">

  <div class="form">

    <span class="p-float-label">
        <input pInputText id="nome" [(ngModel)]="pessoa1.nome"/>
        <label htmlFor="nome">Nome</label>
    </span>

    <span class="p-float-label">
      <p-inputMask mask="999.999.999-99" [(ngModel)]="pessoa1.cpf" id="cpf"></p-inputMask>
      <label htmlFor="cpf">CPF</label>
    </span>

    <p-button label="Submit" (onClick)="salvarEntidade()"></p-button>

    <p-button label="Retonar CPF" (onClick)="retornarCpf(pessoa1.cpf)"></p-button>

  </div>
</div>
