
<div class="fundo-loja">
  <div class="busca-carrinho">
    <span class="p-input-icon-right">
      <i class="pi pi-search" style="top: 8px;"></i>
      <input type="text" pInputText placeholder="Faça sua busca aqui..." style="width: 500px;" [(ngModel)]="descricaoBusca" (keyup.enter)="pesquisar()"/>
    </span>
    <a title="Carrinho"><i class="pi pi-shopping-cart" style="font-size: 2rem"></i></a>
  </div>
  <div class="row m-1" style="justify-content: center;">
    <div class="col-md-auto card-produto" *ngFor="let produto of produtos">
      <img [src]="obterConteudoFormatado(produto)" *ngIf="produto && produto.imagem" style="margin: 10px;" height="150" width="150"/>
          <div class="descricao-produto">
            <span>{{ produto.descricao }}</span>
            <span>{{ 'R$' + produto.valor }}</span>
          </div>
    </div>
  </div>
</div>
