@import "~bootstrap/dist/css/bootstrap.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body { height: 100%; }

.input-grupo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label-input {
  margin-bottom: 5px;
}

.switch-input {
  max-width: 110px;
}

.btn-salvar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

input {
  height: 34px;
  width: 100%;
}
