<div class="row" style="margin: 30px;">
  <div class="col">

    <h2 class="khand-font-700">AGENDE SEU HORÁRIO</h2>

    <div class="row">
      <div class="col input-grupo">
        <label htmlFor="servicos" class="label-input popins-font">Serviços</label>
        <p-multiSelect class="input-personalizado" [options]="servicos" [(ngModel)]="servicosSelecionados" optionLabel="descricao"></p-multiSelect>
      </div>
    </div>

    <div class="row">
      <div class="col input-grupo">
        <label htmlFor="profissional" class="label-input popins-font">Profissional</label>
        <p-dropdown class="input-personalizado" [options]="profissionais" [(ngModel)]="profissionalSelecionado" optionLabel="nome"></p-dropdown>
      </div>
    </div>

    <div class="row">
      <div class="col input-grupo">
        <p-calendar [(ngModel)]="data" [inline]="true" [showWeek]="true" (onSelect)="consultarHorarios()"></p-calendar>
      </div>
    </div>

    <div class="row">
      <div class="col input-grupo">
        <label htmlFor="horarios" class="label-input popins-font">Horários disponíveis</label>
        <p-dropdown class="input-personalizado" [options]="horarios" [(ngModel)]="horarioSelecionado"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col input-grupo">
        <p-button label="SALVAR" class="btn-salvar" (onClick)="salvarReserva()"></p-button>
      </div>
    </div>
  </div>
</div>
