<div class="tela-listagem">

  <div class="div-novo-cadastro">
    <button class="btn-novo-cadastro" (click)="showDialog()">NOVO</button>
  </div>

  <div class="tabela-dados">

    <p-table [value]="produtos" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Tempo</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto>
          <tr>
              <td>{{ produto.descricao }}</td>
              <td>{{ produto.valor }}</td>
              <td>{{ produto.tempo }}</td>
          </tr>
      </ng-template>
    </p-table>

  </div>

</div>

<p-dialog header="Novo Produto" [maximizable]="true" [draggable]="false" [(visible)]="cadastro" [modal]="true" [style]="{width: '80vw'}">
  <div class="cadastro">

    <div class="form form-cadastro">

      <div class="row">

        <div class="col">

          <label htmlFor="imagem" class="label-input">Imagem</label>
          <imagem-preview [maxLength]="2000000" [entidade]="entidade"></imagem-preview>
        </div>

        <div class="col">

          <div class="row">

            <div class="col input-grupo">
              <label htmlFor="descricao" class="label-input">Descrição</label>
              <input type="text" class="input-personalizado" pInputText [(ngModel)]="entidade.descricao" />
            </div>

          </div>

          <div class="row">

            <div class="col input-grupo">
              <label htmlFor="valor" class="label-input">Valor</label>
              <p-inputNumber class="input-personalizado" [(ngModel)]="entidade.valor" inputId="currency-br" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
            </div>

          </div>

          <div class="row">

            <div class="col input-grupo">
              <label htmlFor="tempo" class="label-input">Tempo de realização (min)</label>
              <p-inputNumber class="input-personalizado" inputId="integeronly" [(ngModel)]="entidade.tempo"></p-inputNumber>
            </div>

          </div>

        </div>

      </div>

      <div class="col" style="display: flex; justify-content: flex-end;">
        <button class="btn-confimar" type="submit">CONFIRMAR</button>
      </div>

    </div>

  </div>

</p-dialog>
